
body{
    background-color: bisque;
}

.box{
    background-color: rgba(200, 167, 128, 0.93);
    margin: 20px 300px 20px 300px
}

.Header1 {
   text-align: center;
   padding-top: 20px;
   margin-right: 70px;
   margin-bottom: 50px;
}


.main_photo{
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.main_phot, img{
    margin-right: 60px;
    border-radius: 40%;
}

p {
    text-align: center;
    margin-right: 50px;
}

h2 {
    margin-top: 25px;
    text-align: center;
    margin-right: 70px;
}

.contacts {
    position: relative;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 30px;
}

.facebook_anim{
    animation: myAnim 3s ease 1s infinite normal forwards;
}

.instagram_anim{
    animation: myAnim2 3s ease 1s infinite normal forwards;
}

.numeration {
    width: 100%;
    text-align:  center; 
}

.num{
    display: inline-block;
}

li {
    text-align: left;
}

ul, li{
    margin-right: 70px;
}

@keyframes myAnim {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 100%;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}

@keyframes myAnim2 {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(0.75, 1.25, 1);
	}

	40% {
		transform: scale3d(1.25, 0.75, 1);
	}

	50% {
		transform: scale3d(0.85, 1.15, 1);
	}

	65% {
		transform: scale3d(1.05, 0.95, 1);
	}

	75% {
		transform: scale3d(0.95, 1.05, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}